.grid-container {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.item{
  background-color: #444;
  color: white;
}

.item *{
  margin: 5px;
}

.item .headline{
  text-align: center;
}

.node{
  height: 45vh;
  margin: 0;
  padding:0;
  background-color: #333;
}
