.headline {
  font-size: 3rem;
  text-align: center;
}

.fill-row {
  grid-column-start: 1;
  grid-column-end: 4;
}

.hidden {
  display: none !important;
}

.node {
  position: relative;
}

.node-content {
  background-color: #666;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.node-content * {
  padding: 0;
  margin: 0;
}

.center-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-provider {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.fill-remaining {
  flex: 1 1 auto;
}

.smart-image {
  display: inline-block;
  flex: 1 1 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 100%;
  max-width: 100%;
}