.image-node{
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.image-delete{
  width: 100%;
  margin: 0;
  background-color: #de4444;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  border: none;
  padding:0;
  cursor: pointer;
}

.max100{
  max-width: 100%;
}

.filename{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#fff;
  background-color: #000;
  padding: 0.2rem;
}

.image-node-container{
  padding: 0.4rem;
  background-color: #525252;
}
