.loginbg {
  background-image: url('../NodeBoard.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login {
  background-color: rgba(20, 20, 20, .7);
  width: 50%;
  height: 50%;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.login input {
  font-size: 2rem;
  padding: .5rem;
  display: block;
  margin: .5rem;
}