.mono {
  font-family: monospace;
}

.absolute {
  position: absolute;
}

.smallcaps {
  font-variant: small-caps;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.editable:hover {
  color: #b6e8a9;
}

.nodeval {
  padding: 0;
  margin: 0;
  margin-left: 5%;
}

.center {
  text-align: center;
}

.value {
  color: #c4c289;
}

.flexend {
  margin: 0;
  margin-top: auto;
  margin-left: auto;
}

.black {
  color: #000;
}

.hidden-flex {
  display: flex;
  flex-direction: column;
}

.force-fill {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.flex-fill {
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.leftalign {
  text-align: left;
  padding-left: 1rem;
}

.darkgrey {
  background-color: #333;
}

.lightgrey-bg {
  background-color: #444;
}

h1 {
  padding-left: 1rem;
}

.hidden {
  display: none !important;
}

.flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link {
  cursor: pointer;
}

.border1 {
  border-style: dashed;
  border-color: #fff;
}